html {
    scroll-behavior: smooth;
  }
  
  body {
    background-color: #151515 !important;
    cursor: url('images/cursor.png') 16 16, pointer;
  }
  
  ::-webkit-scrollbar {
    width: 10px; 
  }
  
  ::-webkit-scrollbar-track {
    background: #2d2f30;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #fce80d; 
    border-radius: 5px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #f5f5f5; 
  }
  
  .nav-link {
    letter-spacing: 0.25rem;
    font-size: 0.85rem;
    padding: 8px 12px;
  }
  
  .nav-style {
    color: #474747 !important;
    font-family: "Trade Gothic", sans-serif;
    font-weight: bolder !important;
  }
  
  .nav-link:hover {
    color: #fce80d !important;
    cursor: url('images/cursor.png') 16 16, pointer;
  }
  
  .nav-link.active {
    background-color: #fce80d !important;
    color: #000;
  }
  
  .nav-link.active:hover {
    color: #000000 !important;
  }
  
  .nav-pills .nav-link.active {
    padding: 7px 6px;
    transition: all 1s ease !important;
  }
  
  .heading {
    font-family: "Trade Gothic", sans-serif;
    font-weight: bold !important;
    text-transform: uppercase;
  }
  
  .subheading {
    font-family: "Poppins", sans-serif;
    font-weight: bold !important;
  }
  
  .body {
    font-family: "Poppins", sans-serif;
    color: #edece5;
  }
  
  .text-justify {
    text-align: justify;
  }
  
  .profile {
    width: auto;
    max-width: 600px;
    height: auto;
    max-height: 620px;
  }
  
  .aboutProfile {
    display: inline-block;
    outline: 5px solid #fce80d;
    border-radius: 10px;
  }
  
  .content_container {
    box-shadow: 0 0 5px rgba(108, 108, 108, 0.5);
    padding: 20px;
    border-radius: 8px;
  }
  
  .section-title {
    color: #fce80d;
    font-size: 2.5rem;
    letter-spacing: 0.25rem;
    font-weight: bold;
    border-bottom: 2px solid transparent;
    display: inline-block;
    padding-bottom: 2px;
    margin-bottom: 2rem;
    transition: border-color 0.3s ease;
  }
  
  .services {
    transition: transform 0.5s ease, background-color 0.5s ease;
  }
  
  .services:hover {
    transform: scale(1.02);
    background-color: #fce80d !important;
  }
  
  .section-title:hover {
    border-bottom: 4px solid #fce80d;
  }
  
  .wrapper {
    box-shadow: 0 0 5px rgba(108, 108, 108, 0.5);
  }
  
  .btn-circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 0;
    border: 2px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease, border-color 0.3s ease;
  }
  
  .btn-circle:hover {
    background-color: #f0f0f0;
    border-color: #999;
    cursor: url('images/cursor.png') 16 16, pointer;
  }
  
  .btn-circle i {
    font-size: 2.5rem;
    color: #ffffff;
    transition: color 0.3s ease;
  }
  
  .btn-circle:hover i {
    color: #fce80d;
  }
  
  .button-effect {
    border-color: #edece5 !important;
    font-family: "Poppins", sans-serif !important;
    font-size: 1rem !important;
  }
  
  .button-effect:hover {
    background-color: #fce80d !important; 
    color: #000000 !important;
    border-color: #fce80d !important; 
    cursor: url('images/cursor.png') 16 16, pointer;
  }
  
  #scrollspyContact {
    color: #f9f5ec;
  }
  
  #scrollspyContact form .form-control {
    background-color: #333;
    border: none;
    color: #f9f5ec;
  }
  
  #scrollspyContact form .form-control:focus {
    border: 3px solid #fce80d;
    box-shadow: 0 0 10px rgba(255, 215, 0, 0.5);
  }
  
  #scrollspyContact button:hover {
    background-color: #f9f5ec;
    color: #020106;
  }
  
  .social-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #edece5;
    text-align: center;
    transition: background-color 0.3s, transform 0.3s;
    text-decoration: none;
  }
  
  .social-icon i {
    font-size: 24px;
    color: rgb(0, 0, 0);
  }
  
  .social-icon:hover {
    background-color: #fce80d;
    transform: scale(1.09);
    cursor: url('images/cursor.png') 16 16, pointer;
  }
  
  .scroll-animate {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease, transform 1.5s ease;
  }
  
  .scroll-animate.visible {
    opacity: 1;
    transform: translateY(0);
  }
  
  /* Media Queries */
  @media (max-width: 768px) {
    .nav-link {
      font-size: 0.75rem;
      padding: 6px 8px;
      letter-spacing: 0.1rem;
    }
  
    .navbar-brand .logo {
      width: 3rem;
    }
  
    .navbar {
      padding: 5px 0;
    }
  
    .navbar-nav {
      width: 100%;
      text-align: center;
    }
  
    .nav-item {
      margin: 0.5rem 0;
    }
  
    .navbar-toggler {
      border: none;
    }
  }
  
  @media (max-width: 576px) {
    #scrollspyContact .row {
      padding: 0 15px;
    }
  }
  