html {
  scroll-behavior: smooth;
}

body {
  cursor: url('img/cursor.png') 16 16, auto;
}

::-webkit-scrollbar {
  width: 10px; 
}

::-webkit-scrollbar-track {
  background: #2d2f30;
}

::-webkit-scrollbar-thumb {
  background: #ff7300; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #f5f5f5; 
}

.heading {
  font-family: "Orbitron", sans-serif;
  font-weight: bolder !important;
  text-transform: uppercase;
  font-size: 3.5rem;
  color: #edece5;
}

.subheading {
  font-family: "Lato", sans-serif;
  font-weight: bold !important;
  color: #d2d0be;
}

.body {
  font-family: "Lato", sans-serif;
  color: #d2d0be;
}

.text-justify {
  text-align: justify;
}

.main-content {
  background-color: #18171a;
  position: relative;
  overflow: hidden;
}

.p6-btn {
  border-color: #d2d0be;
  color: #d2d0be;
  font-family: "Lato", sans-serif !important;
  font-size: 1rem !important;
}

.p6-btn:hover {
  background-color: #ff7300 !important;
  color: #000000;
  border-color: #ff7300 !important;
  cursor: url('images/cursor.png'), pointer;
}

.divider {
  border: none;
  border-top: 5px solid #ff7300;
  width: 50%;
}

.iframe-container {
  position: relative;
  width: 100%;
  padding-top: 56.25%; /* 16:9 aspect ratio */
  background: #000;
  overflow: hidden;
}

.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.rotating-image {
  animation: rotatePlanet 40s linear infinite;
  width: 100%;
  margin: auto;
  display: block;
}

@keyframes rotatePlanet {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.scroll-animate {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease, transform 1.5s ease;
}

.scroll-animate.visible {
  opacity: 1;
  transform: translateY(0);
}

.nav-style {
  color: #474747 !important;
  font-family: "Orbitron", sans-serif;
  font-weight: bolder !important;
}

.nav-link:hover {
  color: #ff7300 !important;
  cursor: url('img/cursor.png'), auto;
}

.galaxy-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; 
  z-index: -1; 
  overflow: hidden;
}

.star {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  width: 2px; 
  height: 2px;
  animation: float-stars linear infinite;
}

@keyframes float-stars {
  0% {
      transform: translateY(0) translateX(0);
  }
  100% {
      transform: translateY(200px) translateX(300px);
  }
}

@media (max-width: 768px) {
  .heading {
    font-size: 2rem;
  }
  .iframe-container {
    height: 80vh; 
    padding-top: 0;
  }

  .iframe-container iframe {
    height: 80%;
    width: 100%; 
  }
}

/*!This style is important, do not override!*/
* {
  margin: 0;
  padding: 0;
}